<div id="api-breadcrumb-bar">
    <breadcrumbs>
        <li breadcrumb label="Dashboard" [route]="[ '/dashboard' ]"></li>
        <li breadcrumb label="APIs" [route]="[ '/apis' ]"></li>
        <li breadcrumb label="Import API" class="active"></li>
    </breadcrumbs>
</div>
<page-error [error]="pageError" *ngIf="pageError"></page-error>
<div class="container-fluid" *ngIf="!pageError">
    <div class="importapi-form row">
        <div class="col-md-7">
            <importapi-form (onImportApi)="onImportApi($event)" [importing]="importing" #importApiForm></importapi-form>
            <div class="alert alert-warning" *ngIf="importError">
                <span class="pficon pficon-warning-triangle-o"></span>
                <strong>Error Importing API!</strong> We couldn't find the content you've asked us to import.  Please verify that
                a valid API Design exists at the import location.  If you are trying to import from Source Control, make sure you
                have successfully linked your account(s) in <a routerLink="/settings/accounts">Settings</a>.
            </div>
        </div>
    </div>
</div>
